# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo

# ==========================================
# 1. OS & IDE (Общее для всех языков)
# ==========================================
# Windows, macOS и IDE (CLion, VS Code)
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

# ==========================================
# 2. C и C++
# ==========================================
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb
*.dwo

# Build folders (CMake и др.)
cmake-build-debug/
cmake-build-release/
build/

# ==========================================
# 3. Python & Mojo
# ==========================================
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
ENV/

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# Mojo specific
*.mojopkg

# ==========================================
# 4. Rust
# ==========================================
# Generated by Cargo 
debug/
target/

# Backup files generated by rustfmt
**/*.rs.bk

# ==========================================
# 5. Java
# ==========================================
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Maven и Gradle (папки сборки)
target/
build/
.gradle/

# ==========================================
# 6. Julia
# ==========================================
Manifest.toml
*.jl.mem
*.jl.cov

# ==========================================
# 7. MATLAB
# ==========================================

*.asv
*.mex*
*.autosave
slprj/
sccprj/

# ==========================================
# 8. Godot (GDScript)
# ==========================================
.godot/
*.tmp

# ==========================================
# 9. Assembler
# ==========================================
*.bin
*.hex
*.lst
*.asm.o